<aside>
	<div class="inner-calc">
		<h3>Calculadora FaleMais - Telzir</h3>
		<h4>Saiba quanto você economizou com nosso plano Fale Mais!</h4>

		<%= form_tag("/result", method: "post") do %>
		
		<div class="input-out number-out">
			<%= label_tag('tax_origem', "DDD Origem") %>
			<%= number_field_tag('tax_origem', nil, class: 'input-ddd-calc') %>
		</div>

		<div class="input-out number-out">
			<%= label_tag('tax_destino', "DDD Destino") %>
			<%= number_field_tag('tax_destino', nil, class: 'input-ddd-calc') %>
		</div>

		<div class="input-out number-out">
			<%= label_tag('minutos', "Tempo") %>
			<%= number_field_tag('minutos', nil, class: 'input-min-calc') %>
		</div>

		<div class="input-out">
			<%= label_tag('fm_name', "Escolha o Plano:") %>
			<%= select_tag 'fm_name', options_for_select(@fale_mai.collect{ |u| [u.name, u.minute] }) %>
		</div>

		<%= submit_tag("Calcular", class: 'input-btn-calc') %>
		<% end %>

	</div>
</aside>
