<%= form_with(model: fale_mai, local: true) do |form| %>
  <% if fale_mai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fale_mai.errors.count, "error") %> prohibited this fale_mai from being saved:</h2>

      <ul>
      <% fale_mai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :minute %>
    <%= form.number_field :minute %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
