<p id="notice"><%= notice %></p>

<h1>Fale Mais</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Minute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fale_mai.each do |fale_mai| %>
      <tr>
        <td><%= fale_mai.name %></td>
        <td><%= fale_mai.minute %></td>
        <td><%= link_to 'Show', fale_mai %></td>
        <td><%= link_to 'Edit', edit_fale_mai_path(fale_mai) %></td>
        <td><%= link_to 'Destroy', fale_mai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fale Mais', new_fale_mai_path %>
