<%= render 'calc' %>

<% if !@error %> 

<% if @faleMais %>


<div class="result result-success">
	<div class="inner-display">
		<h1>Veja o quanto economizou</h1>
		<div class="result-out">
			<div class="result-inner com-fale-mais">
				<p><strong>Com Fale Mais:</strong></p>
				<p><strong><%= number_to_currency(@comFaleMais, unit: 'R$', separator: ',', delimiter: '.') %></strong></p>
			</div>
			<div class="result-inner sem-fale-mais">
				<p>Sem Fale Mais:</p>
				<p><%= number_to_currency(@semFaleMais, unit: 'R$', separator: ',', delimiter: '.') %></p>
			</div>
		</div>
	</div>
</div>

<% else %>

<div class="initial-display">
	<div class="inner-display">
		<h1>TELZIR </h1> 
		<h3>Ficou mais fácil saber como economizar</h3>
		<p>Utilize a calculadora ao lado e descubra</p>
	</div>
</div>

<% end %>
<% else %>
<div class="result result-error">
	<div class="inner-display">
		<p>Não encontramos em nosso banco de dados a combinação dos DDDs informados.</p>
		<p>Tente novamente.</p>
	</div>
</div>
<% end %>

<div class="footer">
	<div class="menu">
		<%= link_to "Cadastrar Fale Mais", fale_mais_path %>
		<%= link_to "Cadastrar DDDs e Taxas", rates_path %>

	</div>
	<div class="assinatura">
		Desafio para Vizir - Wallace Petrucci Neves
	</div>

</div>