<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fale_mai.name %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @fale_mai.minute %>
</p>

<%= link_to 'Edit', edit_fale_mai_path(@fale_mai) %> |
<%= link_to 'Back', fale_mais_path %>
