/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Página do Aplicativo */
 aside{
 	float: left;
 	width: 30%;
 	z-index: 6;
 	position: relative;
 }
 aside .inner-calc {
 	width: 340px;
 	float: left;
 	padding: 30px 30px;
 	color: white;
 	background: #398698;
 	border-radius: 15px;
 }
 section.section-main{
 	width: 1200px;
 	margin:0 auto;
 }
 div.initial-display, div.result.result-success, div.result.result-error{
 	float: left;
 	width: 70%;
 	text-align: center;
 	z-index: 5;
 	background: #e1f1f5;
 	position: relative;
 	color: #565656;
 	border-radius: 0px 10px 10px;
 	min-height: 330px;
 	display: -webkit-flex;
 	display: flex;
 	-webkit-align-items: center;
 	align-items: center;
 	-webkit-justify-content: center;
 	justify-content: center;
 }
 .result.result-success {
 	float: left;
 	width: 50%;
 	text-align: center;
 }
 .result-inner {
 	width: 49%;
 	float: left;
 }
 .result-out {
 	width: 100%;
 	margin: 0 auto;
 }
 .input-out{
 	width: 100%;
 	float:left;
 	margin:10px 0px;
 }
 .number-out {
 	width: 30%;
 	margin: 0px 10px 0px 0px;
 }

 .number-out input#tax_origem, .number-out input#tax_destino,input#minutos {
 	width: 70%;
 	padding: 7px;
 }
 input.input-btn-calc {
 	float: left;
 	width: 100%;
 	border: none;
 	padding: 10px;
 	margin: 10px 0px 0px;
 	cursor: pointer;
 	background: #62a5c5;
 	text-transform: uppercase;
 	color: white;
 	letter-spacing: 2px;
 	font-weight: 600;
 	transition: background 0.8s;
 }
 input.input-btn-calc:hover{
 	background: #78bcdc;
 }

 select#fm_name {
 	width: 100%;
 	padding: 6px;
 	font-size: 14px;
 	font-weight: 600;
 }

 .footer{
 	

 }
 .footer .menu{
 	float: left;
 }
 .footer .menu a{
 	text-decoration: none;
 	margin-right: 20px;
 }
 .footer .menu a:hover{
 	color:#398698;
 	background: #fff;
 }
 .footer .assinatura{
 	float: right;

 }

 div.com-fale-mais{
 	background: #5ebf7c;
 	color: #fff;
 	border-radius: 5px;
 	margin-right: 5px;
 }

 div.sem-fale-mais{
 	background: #bf5e5e;
 	color: #fff;
 	border-radius: 5px;
 	
 }

 div.result-success .inner-display{
 	padding:20px;
 	border-radius: 5px;
 	background:#fff;
 }

 div.result-success .inner-display h1{
 	text-transform: uppercase;
 }

 /* FIM - Página do Aplicativo */

 table {
 	border: 1px solid;
 	width: 50%;
 	text-align: center;
 }
 thead {
 	background: #5bafd0;
 	color: #fff;
 	text-transform: uppercase;
 }