<%= form_with(model: rate, local: true) do |form| %>
  <% if rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.number_field :origin %>
  </div>

  <div class="field">
    <%= form.label :destiny %>
    <%= form.number_field :destiny %>
  </div>

  <div class="field">
    <%= form.label :price_per_minute %>
    <%= form.text_field :price_per_minute %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
