<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @rate.origin %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @rate.destiny %>
</p>

<p>
  <strong>Price per minute:</strong>
  <%= @rate.price_per_minute %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
